

/* rm shadows */
table td.rD {padding:0; font-size:1px;height:5px;}
table td.rR {padding:0; font-size:1px;width:5px;}
table td.rC {padding:0; }
table td.rL {padding:0; width:10px;;}
table td.rU {padding:0; height:10px;}

/* new shadows */

.dsRT {font-size:1px;width:8px;}
.dsLT {font-size:1px;width:8px;}
.dsDN {font-size:1px;height:8px;}
.dsUP {font-size:1px;height:8px;}

.dsDL {font-size:1px;}
.dsDR {font-size:1px;}
.dsUL {font-size:1px;}
.dsUR {font-size:1px;}

.dsRTie6 {font-size:1px;width:8px;background:none !important;}
.dsLTie6 {font-size:1px;width:8px;background:none !important;}
.dsDNie6 {font-size:1px;height:8px;background:none !important;}
.dsUPie6 {font-size:1px;height:8px;background:none !important;}

.dsDLie6 {font-size:1px;background:none !important;}
.dsDRie6 {font-size:1px;background:none !important;}
.dsULie6 {font-size:1px;background:none !important;}
.dsURie6 {font-size:1px;background:none !important;}

/* rm display */

.rMenuBorder {border:1px solid #aaa;background-color:white}
.rMenu {margin:2px}

.rMenu td {height:17px;color:black;font-size:11px;cursor:pointer;padding:2px 0 3px 0;FONT-FAMILY:Tahoma,Verdana,Arial,Helvetica,sans-serif}

.rMenu td table td {margin:0;padding:0;}
.rMenu td table td.text {width:100%;padding-left:8px;padding-right:14px;}
.rMenu td.on table td {color:white;background-color:#3878BF}

.rMenu td.on {color:white;background-color:#3878BF}
.rMenu td.off {color:black;background-color:white}

.rMenu td.line {height:8px;padding:0px;font-size:0px;cursor:default}
.rMenu td div.line {margin:3px 2px 4px 2px;height:1px;border-top:1px solid #aaa}

div#rightMenu {position:absolute;display:none;z-index:10000}

.OddRowHi td,.EvenRowHi td {background-color:#bbccff;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff}


/* dd display */

div#moveTip {
	display:none;position:absolute;cursor:pointer;z-index:10000;
	background-color:#eeefff;color:#3878BF;border:1px solid #7083E1;
	padding:2px;filter:alpha(opacity=60);-moz-opacity:.60;opacity:.60;
}


/* js display */

div#js_screen {float:right;margin-left:10px;width:16px;height:16px;cursor:pointer}
.js_empty {background:url(icons/grey_16.gif);no-repeat}
.js_busy {background:url(icons/yellow_16.gif);no-repeat}

.java_ico {background:url(icons/op_ok.gif);no-repeat;width:16px;height:16px;margin-left:6px;margin-right:6px}
.java_ind {background:url(icons/indicator.gif);no-repeat;width:16px;height:16px;margin-left:6px;margin-right:6px}
.java_err {background:url(icons/alert_red.gif);no-repeat;width:16px;height:16px;margin-left:6px;margin-right:6px}

div#js_monitor_frame {
	position:absolute;display:none;z-index:1000;overflow:auto;
	padding:10px;width:430px;height:150px;
	background-color:#ffffff;color:black;
	border:1px solid #999999;
	text-align:left;
	cursor:move;
}
