/** 
 =====================Styles for new controls, introduced by Webgate intergration ============================
 */

.menuButtonActive, .menuButtonOver, .menuButtonOverActive {
	border-top: 1px solid #547AE5; 
}
.menuButton{
	border-top: 1px solid #547AE5;
}

.insideButtonWrap1 {
  background: url('../images/misc/button_bg.gif') 0 -27px no-repeat;
  padding-left:3px; 
}
.insideButtonWrap2 {
  background: url('../images/misc/button_bg.gif') 100% -27px no-repeat;
  margin-right: -3px;
  padding-right:3px;
}

.buttonWrap1 {
  background: url('../images/misc/button_bg.gif') 0 -0 no-repeat;
  padding-left:3px; 
}
.buttonWrap2 {
  background: url('../images/misc/button_bg.gif') 100% 0 no-repeat;
  margin-right: -3px;
  padding-right:3px;  
}

.over .insideButtonWrap1 {background: url('../images/misc/button_bg.gif') 0 -74px no-repeat;}
.over .insideButtonWrap2 {background: url('../images/misc/button_bg.gif') 100% -74px no-repeat;}

.over .buttonWrap1 {background: url('../images/misc/button_bg.gif') 0 -47px no-repeat;}
.over .buttonWrap2 {background: url('../images/misc/button_bg.gif') 100% -47px no-repeat;}

.buttonWrap2 input {color: #000000;}

input.Button {background:transparent;}
input.ButtonNext {background: url(../images/misc/button_next.gif) no-repeat scroll 95% 50% transparent; padding-right:28px;}
input.ButtonPrev {background: url(../images/misc/button_prev.gif) no-repeat scroll 7px 50% transparent; padding-left:28px;;}
input.ButtonOk {background: url(../images/misc/button_ok.gif) no-repeat scroll 7px 50% transparent; padding-left:28px;;}
input.ButtonCancel {background: url(../images/misc/button_cancel.gif) no-repeat scroll 7px 50% transparent; padding-left:28px;}
/**
 * Browse  ===================================
 */
.uiBrowse {border: 1px solid #C7C7C7;}
.uiBrowseIn {border: 1px solid #C7C7C7;}
.browseEmpty{border-top: 1px solid #C7C7C7;}
 
.browseControlsTop, .browseControlsBottom {background-color:#FFFFFF; height:28px;}
.browseControlsTop {border-bottom:1px solid #E9E9E9;}
.browseControlsBottom {border-top:1px solid #E9E9E9;}
.browseControlsTop a, .browseControlsBottom a,
.browseControlsTop a:visited, .browseControlsBottom a:visited {color: #000000; font-weight:normal;}
.browsePaging {color:#000000}
 
* html .listActionItem .listActionItemInner,
* html .listActionItemOver .listActionItemInner,
* html .listActionItem_disabled .listActionItemInner {
	padding-top: 3px;
	height: 19px;
	line-height: 19px;
}
.collectorBox{
	border:1px solid #919b9c;
	background-color:#f2f3fc;
}

.searchButtonWrap1, .searchButtonWrap2 {height:22px;}

.searchButtonWrap1 {
  background: url('../images/lists/button_bg.gif') 0 -27px no-repeat;
  padding-left:3px; 
}
.searchButtonWrap2 {
  background: url('../images/lists/button_bg.gif') 100% -27px no-repeat;
  margin-right: -3px;
  padding-right:3px;
}
.searchButtonWrap2 input {
  border:0; 
  background:transparent;
  cursor:hand;
  cursor:pointer;
  height:19px;
}

.browseButtons {
	background-color:#F0F0F0;
	border-top:1px solid #E9E9E9;
	border-bottom:1px solid #E9E9E9;	
	clear:both;
	padding:2px 5px 3px 5px;
/*	background: #f2f3fc url('../images/misc/bb_bg.gif') 0 0 repeat-x;	*/
}

.browseButton div {
  height: 27px;
  line-height: 27px;
  background-image: url('../images/lists/button_bg.gif'); 
  background-repeat: no-repeat;
}
.browseButton span {font-weight:bold; padding-right:10px; color:#454545;}

.listActionItem_disabled,.listActionItem {
}
.listActionItemOver span{
	color: #000000;
}

.browseButton div img {
  margin: -2px 0 0;
  padding: 0 0 0 0;
}
.RTL .browseButton div img {
 padding: 0 0 0 5px;
}
.listActionItem,
.listActionItemOver,
.listActionItem_disabled {
  margin: 0 1px 0 0;
  padding: 0 0 0 2px;
  background-position: 0 0;
}
.listActionItem .listActionItemInner,
.listActionItemOver .listActionItemInner,
.listActionItem_disabled .listActionItemInner {
  margin: 0;
  padding: 0 6px 0 0;
  background-position: 100% 0;
}

.listActionItemInner {padding-left:5px !important;}
.listActionItemOver {
  background-position: 0 0;
}
.listActionItem_disabled {
  background-position: 0 0;
}
.listActionItemOver .listActionItemInner {
  background-position: 100% 0;
}
.listActionItem_disabled .listActionItemInner {
  background-position: 100% 0;
}
*:first-child+html .browseButton div img { margin: 0 0 -1px; }
* html .browseButton div img { margin: 0 0 -1px; }

.listContentArea a {color:#000000;}
/**
 * top toolbar ===================================
 */
hr.separator{
	border-top:1px solid #B5CCF2; 
}

.actionActive  .actionInnerBlock{
	background-color:#E7EDFB;
	border: 1px #6E89DD solid;	
}

.itemActive {
	padding:1px 2px 1px 3px;
	background-color:white;
	border: 1px #6E89DD solid; 
	white-space:nowrap; 
	cursor:pointer; cursor:hand;
}

.itemPassive {
	padding:2px 3px 2px 4px;
	background-color:transparent;
	white-space:nowrap; cursor:pointer;
}

.moreActive{
	margin:0px;
	padding:1px 2px 1px 3px;
	border: 1px #6E89DD solid;
	cursor:pointer;
	background-color:white;
	white-space:nowrap;
}

.morePassive{
	margin:1px;
	border:0px;
	padding:1px 2px 1px 3px;
	background-color:transparent;
	white-space:nowrap;
}

.actionDisabled .actionDropdownArrowActive{
	background-color: #C4DAFE;
	border: 1px #6E89DD solid;	
}

.actionDropdownBlock{
	border-bottom: 1px solid #718BDE;
	border-left: 1px solid #718BDE;
	border-right: 1px solid #718BDE;	
	background-color: #E7EDFB;
}

.actionLabel {
	color:#0240A3;
}
.actionLabelDisabled {
	color:#666666;
}
/**
 * summary block ===================================
 */
.summaryBlock{
	border: 1px solid #C7C7C7;
	background-color: #FFFFFF; 
}
.summaryBlock fieldset {border-top:1px solid #C7C7C7;}

.summaryTitle{
	font-weight:bold;
	padding-right:8px;
	color:#454545;
	border-bottom:1px solid #C7C7C7;
}

td.actionLink {
	background-color: #FFFFFF;
}
.sTable th {
	height:20px;
	background-color: #E8F7FB;
}

.bottomBorder {
	border-bottom: 1px solid #6FA1D4;
}

.topBorder {
	border-top: 1px solid #6FA1D4;
}

tr.sOddRow{
	height:20px;
	background-color: #E4F2FF;
}
tr.sEvenRow{
	height:20px;
	background-color: #FFFFFF;
}
.summaryBorder {border-color: #C7C7C7;}

/**
 * popup div ====================================
 */
.popDiv{border:solid 2px #D0D0BF;background-color:#FFFFFF;}
.popDivHead td{background-color:#D8E4F8;}
.popCalendar {background-color:#F9F8F8;}
.popDivContent{background-color:#F9F8F8;}
.popCalendar .c1 {background-color:#FBE694;}
.popCalendar .c2 {background-color:#FFFFFF;}
.popCalendar .c3 {background-color:#FFFFEE;}

/**
 * misc ==========================================
 */

.buttonsMore{
	padding:3px !important;
	border-left:1px solid #D2CEB9 !important;
	border-right:1px solid #D2CEB9 !important;
	border-bottom:1px solid #D2CEB9 !important;
	background-color: #F5F4EF !important;
}
 
/* ------Description -----*/
table.screenDescription {
	background-color: #F5F4EF;
	border-bottom:1px solid #CECDC9;
	clear: both;
}
.screenDescription td{
	padding:5px;
	padding-left:12px
}



/**
 * tabs =========================================
 */ 
#tabPanels li, #tabPanels li#current {margin: 0;} 
#tabPanels a {
  text-decoration: none;
  color: #000000;
  padding:0 5px;
}
#tabPanels #current a {
	color:#454545;
	font-weight:bold;
	padding:0 5px 1px;	
}
#tabPanels a span {margin: 0 3px;}
.tabsUpper {padding-left:2px; padding-right:2px;}

/**
 * subtabs ======================================
 */
 
#tabSubItemActive {
  color:#454545;
  font-weight: bold;
/*  background-image: url(../images/tab/subitem_active_bg.gif);  
  border-left : 1px solid #8BA2E4;
  border-right: 1px solid #8BA2E4; */
  line-height:21px;
}

#tabSubItemActive,
#tabSubItemActive a:link,
#tabSubItemActive a:visited {
  color:#454545; 
  font-weight: bold; 
  background-color: #B5D7FA;   
}

#tabSubItemsRow {
  background-image: none; 
  background-position: top;
  background-repeat: repeat-x;
  background-color: #B1CDE9;
  padding: 7px 10px 3px 10px; 
}

#tabSubItemsRow a {
  text-decoration: none;
  color: #000000;
}
#tabSubItemsRow table {margin-left: 0 5px; background-color: #B5D7FA;}
#tabSubItemsRow .gap img {height: 12px;margin:4px 0;}
#tabSubItemsRow .gap {vertical-align:middle;}
.subTab, .subTabActive, .subTabOver,  .subTabOverActive {padding: 0 10px;}
#tabFooter {border-bottom: 1px solid #999999;  background-color: #B1CDE9;  background-image: none;}
#noTabs {border-bottom: 1px solid #999999; width:100%;clear:both;}
 
/*--- Wizard Control --*/
#wizardControlArea {
	margin-top: 8px;
	height: 32px;
	background-color: #FFFFFF;
	background: url('../images/wizard/footer.gif') 0 100% repeat-x;	
	white-space:nowrap;
	clear: both;
}

#wizardControlArea td {
	padding: 2px 7px 2px 7px;
	border-top: 1px solid #F9F9F9;
	white-space:nowrap;
}

#wizardControlArea td.wizardStepCurrent {
	background: url('../images/wizard/bg.gif') 0 0 no-repeat;
	background-color:#F5F4EF;
	border-bottom: 1px solid #F5F4EF;
	border-top: 1px solid #cecdc9;
	border-left: 1px solid #cecdc9;
	border-right: 1px solid #cecdc9;
	font-weight: bold;
	white-space:nowrap;
}

#wizardControlArea td.wizardStepBefore {
	color: #000000;
	border-bottom: 1px solid #cecdc9;
	white-space:nowrap;
}
#wizardControlArea td.wizardStepAfter {
	color: #000000;
	border-bottom: 1px solid #cecdc9;
	white-space:nowrap;
}

.listSearchArea {
  	    background-color:#D6E4F3;
}
.listContentArea th {
	background: #F0F0F0;
	height:30px;
	line-height:30px;
}

.listContentArea th a,
.listContentArea td a {
	color:#535353;
	text-decoration:underline;
}

a {
  color: #0240A3;
}

a:visited {
  color: #0240A3;
}

a:hover {
  color: #0240A3;
}

.groupHeader {
    background-color: #EFEFEF;
    border: 1px solid #DADADA;
}

.groupHeader a.hc {
	color: #535353;
}
