/*
.topFrame{
	background-color:#ffffff;
  background-image:  url(images/top_bg.gif);
  background-position: top right;
  background-repeat: no-repeat;
  padding: 0;  
  margin: 0;
}
*/
#header{
  margin: 0;
  height:48px;
	border-bottom: 2px solid #6E89DD;
}

.HeaderLeft{
  height:48px;
	margin-left:10px;
}
.HeaderRight{
  height:48px;
	margin-right:10px;
}

/* Info and Action Boxes */
fieldset {
  margin: 10px 0 0 0;
  padding: 5px 0 0 0;
  border: none;
  border-top: 1px solid #D0D0D0;
}
fieldset.applications {
  border: none;	
}

fieldset li{
margin-left: 10px;
}
legend {
  color: #000000;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: -7px;
  padding-right: 0px;
  vertical-align: middle;  
}
fieldset > legend {
  margin-left: -2px;
}
legend img{
padding-bottom:2px;
}
fieldset.alwaysBlock legend {
  margin-left: 7px;
}

/*status/error bar*/
div.OpResult{
	float:left;
	width:100%;
}
.OpStatusError, .OpStatusError legend{
	color:#AA0000;
	border-color:#AA0000;
}
.OpStatusOk, .OpStatusOk legend{
	color:#4F9674;
	border-color:#4F9674;
}
.OpStatusError legend, .OpStatusOk legend{
	font-weight:bold;
}
				 
legend img{
	padding-left:10px;
}					 
					 
input.FlatInput     {
  border: 1px solid #7F9DB9;
	width:150px;
}
input.FlatInputFlow  {
  border: 1px solid #7F9DB9;
}
textarea.FlatTextAreaFlow  {
  border: 1px solid #7F9DB9;
}
.FlatSelect  {
	margin:0;
}

input.search, input.stickySearch {padding: 2px 0;}
.search {
	border: 1px solid #A5ACB2;
}
.stickySearch {
	background-color:#FFD876;
	border: 1px solid #A5ACB2;
}
.searchFilled {font-weight:bold;}
.searchTitle {white-space:nowrap;}

/*--------------------------------------------*/
.FilterButton		{
  width: 20px;
  height: 20px;
  background-image: url(icons/search_16.gif);
  border: 0 solid white;
  background-repeat: no-repeat;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 1px;
  text-align:center;  
  background-color: transparent;
}

th {
  vertical-align: middle;
}
th a {
  vertical-align: middle;
}

th img {
  vertical-align: middle;
  padding-left: 3px;
}

.MainFormTable th
{
  font-weight: normal;
  color: #424542;
}
.listControls {
	margin-bottom:8px;
}
.listControls a:link,
.listControls a:active,
.listControls a:visited{
  color:#000000;	
}
	
.list td,
.list th {
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
/*	border: 1px solid red; */
}
div.movingTH,
div.movingTH a,
div.movingTH a:link,
div.movingTH a:visited,
div.movingTH a:active{
  color:#000000;
  vertical-align: middle;
  white-space: nowrap;
}
.list th a:link, div.movingTH a:link,
.list th a:visited, div.movingTH a:visited,
.list th a:active, div.movingTH a:active,
.list th a:hover, div.movingTH a:hover,{
  text-decoration:underline;
}

div.movingTH {
	padding-left: 5px;
	padding-right: 5px;
	border: black 1px solid;
	background-color: #FFFFEE;
	zIndex: 1;
}
.listSearchArea {
	clear:both;
}
.listSearchRowLayout {
	margin:5px 7px;
}

.Dashboard th{
	background-color:#D6DFF7;
	font-weight:bold;
    border-right: 1px solid #FFFFFF; 
	color:#000000;
}

td.ContentPlace{
	border-left:1px;
	border-left-style:solid;	
	border-color:#4F9674;
}
tr.RowError td{
  background-color: #ffd9d9;
}
td.CellError input{
  background-color: #ffd9d9;
}

td.FormError{
	background-color:#E60000;
	font-weight:bold;
	padding:3px;
	color:#FFFFFF;
}
.StatusBarNew, .ErrorBarNew, .WarningBarNew{padding:5px;}
td.MsgBarPic {padding:5px;}


.ErrorBarNew {border:2px solid red;background-color:white;}
.ErrorBarLetr{font-weight:bold;color:red;margin-right:5px;}

.StatusBarNew {border:2px solid green;background-color:white;}
.StatusBarLetr{font-weight:bold;color:green;margin-right:5px;}

.WarningBarNew {border:2px solid #EBBD05;background-color:white;}
.WarningBarLetr{font-weight:bold;color:#D5AB03;margin-right:5px;}

.MsgBarMsg {padding: 0 5px 0 5px;}

td.FormFooter{
	background-color:#FFFFFF;
	border:none;
}

td.Content{
	padding:10px;
}
tr.OddRow, tr.OddRow td{
	background-color:#E6EEF7;
	border-bottom: 1px solid #FFFFFF;
}
tr.OddRow td, tr.EvenRow td {
	border-right: 1px solid #FFFFFF;
}
tr.EvenRow, tr.EvenRow td{
	background-color:#FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}


tr.subHeader td {
	background:none repeat scroll 0 0 #EEEEEE;
	border-right:1px solid #FFFFFF;
	font-weight:bold;
	color:#444444;
}

.NoButton{
	border:2px;
	border-style:window-inset;
	padding:5px;
	background-color:#E6E6E6;
	color:#555555;
}
.none td, .none th{
	border:none;
	background-color:transparent;
}
.TaskStarted, .TaskInProgress
{
	font-weight:bold;
}
.TaskCompleted 
{
	font-weight:normal;
}
.Taskfailed
{
	font-weight:bolder;
	color:#FF0000;
}
table.FrontScreen{
    border: 1px solid #d0d0d0
}

table.FrontScreen td.title{
    font-weight:bold;
    color:#999999;
    align:left;
}
/* ============= Plesk Integration ============= */

.uplevel img{
    vertical-align: middle;  
}

.screenBody {
  padding: 10px;
  clear:left;
}
.screenBodyBrowse {
  clear:left;
}
.buttons {
  border-top: 1px solid #D0D0D0;
  padding-top: 10px;
}
.commonButton,
.commonDisabledButton {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  background-color: transparent;
  display: inline;
  background-color: transparent;
}
.screenButtons {
  padding: 8px 0 0 0;
}
.toolsArea .commonButton {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 32px 0 0 0;
  width: 111px;
  height: 27px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  float: left;
  color: #000000;  
  text-decoration: underline;
}
.toolsArea .commonDisabledButton{
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 32px 0 0 0;
  width: 111px;
  height: 27px;
  margin: 0;
  text-align: center;
  float: left;
  color: #999999;  
  text-decoration: none;
}

.toolsArea button {
  display: none;
}

.formArea .toolsArea .commonButton span,
.formArea .toolsArea .commonDisabledButton span {
  display: inline;
}

td.barOverFilled {
  background: url(images/gauge-wg/fill-over.gif);
}

td.barFilled {
  background: url(images/gauge-wg/fill.gif);
}

td.barEmpty {
  background: url(images/gauge-wg/empty.gif);
}
.gaugeArea {
  margin: 2px 0;
  height: 9px;
}
.gaugeArea img {
	vertical-align:auto;
}

.gaugeLayout tr td {
  padding: 0;
  height:9px;
}


/*======= other =====*/
div.applications{
	height:400px;
	overflow:auto;
	background-color:#ffffff;
	margin-bottom:10px;
	border: 1px solid #7F9DB9;
}

/*====== TABS ========*/

#tabPanels
{
clear:both;
width: 100%;
display:block;
margin-top:5px;
background: url("custom/images/tab/bg.gif") repeat-x bottom;
}

#tabPanels a  {line-height:25px;}

html.LTR #tabPanels {
float:left;
}
html.RTL #tabPanels {
float:right;
}

html.RTL .tabs,
html.RTL .tabsUpper,
html.RTL .tabsLower
{
float:right;
}

html.LTR .tabs,
html.LTR .tabsUpper,
html.LTR .tabsLower {
float:left;
}

.tabs {
line-height:normal;
white-space: nowrap;
}

.tabs ul {
margin:0;
padding: 0px 10px 10px 10px;
list-style:none;
}

.tabs a {
display: block;
background:url("custom/images/tab/normal/right.gif") no-repeat right top;
padding:5px 9px 4px 4px;
vertical-align: baseline;	
width:.1em;
text-decoration:none;
}

.tabs > ul a {
width: auto;
}

.tabs li {
	float:left;
}


.tabs li {
background:url("custom/images/tab/normal/left.gif") no-repeat left top;
margin:0;
padding:0 0 0 2px;
}

.tabs li#current {
border-width: 0;
}

.tabs #current {
background-image:url("custom/images/tab/active/left_on.gif");
margin-left: -3px;
}
.tabs #current a {
background-image:url("custom/images/tab/active/right_on.gif");
padding:3px 9px 7px 6px;
vertical-align: baseline;
}

.tabs .last a {
background-image:url("custom/images/tab/normal/right_last.gif");
}

.tabs .first {
background-image:url("custom/images/tab/normal/left_first.gif");
}

.tabs .first#current {
margin-left: 0;
}

.tabs li:hover {
background-position: 0% -150px;
cursor: pointer;
}

.tabs li:hover a {
background-position: 100% -150px;
}

.tabs li.first:hover {
background-position: top left;
}

.tabs a:hover {
background-position: 100% -150px;
}

/* ============Multiline tabs =================*/
.tabsUpper,
.tabsLower {
display:block;
clear:both;
width: 100%;
line-height:normal;
white-space: nowrap;
}

html.LTR tabsUpper,
html.LTR .tabsLower 
{float:left;} 

html.RTL tabsUpper,
html.RTL .tabsLower 
{float:right;}


.tabsUpper ul,
.tabsLower ul 
{
margin:0;
list-style:none;
float:left;
padding: 0 10px 0 10px;
}

html.LTR .tabsLower ul,  
html.LTR .tabsUpper ul 
{float:left;}

html.RTL .tabsLower ul, 
html.RTL .tabsUpper ul
{float:right;}

.tabsUpper a,
.tabsLower a {
display: block;
background:url("custom/images/tab/normal/right.gif") no-repeat right top;
padding:5px 9px 4px 4px;
vertical-align: baseline;
text-align:center;
text-decoration: none;
width: auto;
margin:0 0 0 2px;
}

.tabsUpper > ul a,
.tabsLower > ul a {
margin:0 0 0 2px;
width: auto;
}

.tabsUpper a:hover,
.tabsUpper a:visited,
.tabsUpper a:active,
.tabsLower a:hover,
.tabsLower a:visited,
.tabsLower a:active {
text-decoration: none;
}

.tabsUpper li,
.tabsLower li {
background:url("custom/images/tab/normal/left.gif") no-repeat left top;
margin:0;
padding:0;
text-align:center;
cursor: hand;
}
.tabsLower li,  
.tabsUpper li 
{float:left;}

.tabsLower li#current {
border-width: 0;
}

.tabsLower #current {
background-image:url("custom/images/tab/active/left_on.gif");
margin-left: -3px;
}
.tabsLower #current a {
background-image:url("custom/images/tab/active/right_on.gif");
padding:3px 9px 7px 6px;
vertical-align: baseline;
}

.tabsUpper .last a,
.tabsLower .last a {
background-image:url("custom/images/tab/normal/right_last.gif");
}

.tabsUpper .first,
.tabsLower .first {
background-image:url("custom/images/tab/normal/left_first.gif");
}

.tabsLower .first#current {
margin-left: 0;
}

.tabsUpper li:hover,
.tabsLower li:hover {
background-position: 0% -150px;
cursor: pointer;
}

.tabsUpper li:hover a,
.tabsLower li:hover a {
background-position: 100% -150px;
}

.tabsUpper li.first:hover,
.tabsLower li.first:hover {
background-position: top left;
}

.tabsUpper a:hover,
.tabsLower a:hover {
background-position: 100% -150px;
}

/* Subtabs - PEM*/
#tabSubItemsRow {
	clear:both;
}

#tabSubItemsRow .gap {
  display: block;
}

/* Tabfooter (always shown) - PEM*/
#tabFooter {
	clear:both;
	background: url(custom/images/tab/footer.gif) repeat-x top;
	height: 4px;
}