@font-face {
  font-family: "VAR";
  src: url("VerticalAstigmatismRegular.ttf");
  }
@font-face {
  font-family: "VAM";
  src: url("VerticalAstigmatismMono.ttf");
  }
body { font-family: "VAR";font-size: 24; background:black; color:#bae8c1;}
code { font-family: "VAM";font-size: 24; }
hr {color:#bae8c1;}
.colorbox{width: 48; height: 24; border-radius: 10%;display:inline-block; }
a.up{color:#bae8c1;text-decoration: none;}
a.up:visited{color:#bae8c1;text-decoration: none;}
a.up:active{color:#bae8c1;text-decoration: none;}

a{color:#2790c4;text-decoration: none;}
a:visited{color:#2790c4;text-decoration: none;}
a:active{color:#2790c4;text-decoration: none;}

.cover {
  margin-left: 0;
  list-style: none;
  counter-reset: li;
  /*font-family: calibri;*/
}
.cover li {
  padding: 10px 0;
  position: relative;
  left: 0.5em;
  margin-bottom: 0.75em;
  padding-left: 1em;
  color:#2790c4;
  background: #E3DEDC;
}
.cover li:before {
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.5em;
  width: 1.5em;
  text-align: center;
  color: white;
  /*font-weight: bold;*/
  background: #2790c4;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  counter-increment: li;
  content: counter(li);
}
/*----------------------------------------*/
.steps {
  counter-reset: li;
  list-style: none;
  font-family: "VAM";
}
.steps li {
  position: relative;
  padding: 10px 0 10px 40px !important;
  color: #bae8c1;
  /*font-variant: small-caps;*/
  /*font-weight: bold;*/
  cursor: pointer;
  margin-bottom: 0em;
  padding-left: 0em;
  background: none;
}
.steps li:before {
  position: absolute;
  padding: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2790c4;
  content: "";
  left: 0;
  transition: .3s ease-in-out;
  top: 22px;
}
.steps li:after {
  position: absolute;
  border-left: 1px dotted #2790c4;
  width: 1px;
  bottom: -8px;
  content: "";
  left: 3px;
  top: 44px;
  color:#2790c4;
}
.steps li:hover:before{box-shadow: 0 0 0 10px rgba(39,144,196,.8)}
.steps li:last-child:after {content: none;}

div.code{
  background-color: #2790c4;
  color: #bae8c1;
}

codebox{
  color: #E3DEDC;
}