body {
text-align:justify;
background-color: rgb(200, 200, 200); color: rgb(0, 0, 0);
background-attachment:fixed;
font-family:'PT Sans';font-size: 100%;line-height:2;
}

a{
border: 3px solid;
padding-left:10px; 
padding-right:10px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
background-image: url('../svg/background_a.svg'); 
background-repeat:repeat-x;
background-attachment:scroll;
font-weight:bold;
}
a:link{color:rgb(0,0,0);text-decoration:none;}
a:visited{color:rgb(0,0,0);text-decoration:none;}
a:hover,a:active{
color:rgb(0,255,150);text-decoration:none;
background-image: url('../svg/background_a_active.svg'); 
}
a.none{border:0px;background-image: none;}

@font-face {font-family: 'PT Sans'; 
	src: url('http://www.l4soft.narod.ru/fonts/pts55f_w.eot'); 
	src: local('PT Sans'), url('http://www.l4soft.narod.ru/fonts/PTS55F_W.woff') format('woff'),url('http://www.l4soft.narod.ru/fonts/PTS55F_W.ttf') format('truetype');}

.kubit{background-color: rgb(213, 213, 213);
margin:20px;
padding:20px;
text-align:justify;
border-top-left-radius:20px;
border-bottom-left-radius:20px;
border-top-right-radius:20px;
border-bottom-right-radius:20px;
}
