body {
text-align:justify;
background-color: rgb(0, 100, 0); color: rgb(200, 200, 250);
background-attachment:fixed;
font-family:'PT Sans';font-size: 100%;line-height:2;
}

a{
border: 3px solid;
padding-left:10px; 
padding-right:10px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
background-image: url('svg/background_a.svgz'); 
background-repeat:repeat-x;
background-attachment:scroll;
font-weight:bold;
}
a:link{color:rgb(0,255,150);text-decoration:none;}
a:visited{color:rgb(0,0,0);text-decoration:none;}
a:hover,a:active{color:rgb(0,255,0);text-decoration:none;}

a.none{border:0px;background-image: none;}

@font-face {font-family: 'PT Sans'; 
	src: url('http://formalldistort.org/svg/fonts/pts55f_w.eot'); 
	src: local('PT Sans'), url('http://formalldistort.org/svg/fonts/PTS55F_W.woff') format('woff'),url('http://formalldistort.org/svg/fonts/PTS55F_W.ttf') format('truetype');}

textarea{
background-color: rgb(0, 0, 0);
color: rgb(255,255,255);
font-family:'PT Sans';font-size: 100%;line-height:2;
}

td {border: 1px solid}
