body {
text-align:justify;margin:0px;padding:0px;outline:none;
background-color: rgb(0, 100, 0); color: rgb(200, 200, 250);
/*background-attachment:fixed;*/
font-family:'PT Sans';font-size: 100%;line-height:1;
}

a{
border: 3px solid;
padding-left:10px; 
padding-right:10px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
background-image: url('svg/background_a.svg'); 
background-repeat:repeat-x;
background-attachment:scroll;
font-weight:bold;
}
a:link{color:rgb(0,0,0);text-decoration:none;}
a:visited{color:rgb(0,0,0);text-decoration:none;}
a:hover,a:active{
color:rgb(0,255,150);text-decoration:none;
background-image: url('svg/background_a_active.svg'); 
}

a.none{border:0px;background-image: none;}

@font-face {font-family: 'PT Sans'; 
	src: url('http://www.l4soft.narod.ru/fonts/pts55f_w.eot'); 
	src: local('PT Sans'), url('http://www.l4soft.narod.ru/fonts/PTS55F_W.woff') format('woff'),url('http://www.l4soft.narod.ru/fonts/PTS55F_W.ttf') format('truetype');}

textarea{
background-color: rgb(0, 0, 0);
color: rgb(255,255,255);
font-family:'PT Sans';font-size: 100%;line-height:1;
border:none;margin:0px;padding:0px;
width:100%;height:100px;
}
textarea#okno2{height:300px;}
.dn{display:none;}

table.px1000{max-width:1000px;width:1000px;}
td{border:0px solid;vertical-align:bottom;}
button{line-height:1;margin:0px;padding:0px;margin-top:5px;}
input[type="checkbox"]{width:;}
input[type="text"]{width:20px;}
